snippet ma "main" 
#include <stdio.h>
#include <stdlib.h>
#include <unistd.h>

int main(int argc, char *argv[]) {

    return 0;
}
endsnippet



snippet tld "TL_DEBUG" 
#ifdef TL_DEBUG
	fprintf(stderr, "");
#endif
endsnippet
