[submodule "bundle/cscope.vim"]
	path = bundle/cscope.vim
	url = https://github.com/brookhong/cscope.vim.git
[submodule "bundle/Command-T"]
	path = bundle/Command-T
	url = https://github.com/wincent/Command-T.git
[submodule "bundle/dash.vim"]
	path = bundle/dash.vim
	url = https://github.com/rizzatti/dash.vim.git
